.operations-satellite
  %img{ src:"/images/dev-survey-2019/operations-satellite-circle.svg" }
  .operations-satellite-body
    %img{ src:"/images/dev-survey-2019/operations-satellite-body.svg" }

.operations-satellite.vertical
  %img{src: "/images/dev-survey-2019/operations-satellite-circle.svg"}
  .operations-satellite-body
    %img{src: "/images/dev-survey-2019/operations-satellite-body.svg"}

%img.operations-planet{ src: "/images/dev-survey-2019/operations-planet.svg" }
%img.operations-planet-bars{ src: "/images/dev-survey-2019/planet-bars.svg" }